POSTGRES_DB=easyflow
POSTGRES_USER=easyflow
POSTGRES_PASSWORD=easyflow123
POSTGRES_PORT=5432

PGADMIN_DEFAULT_EMAIL=admin@easyflow.local
PGADMIN_DEFAULT_PASSWORD=admin123
PGADMIN_PORT=5050

API_PORT=3000
WEB_PORT=4200

JWT_SECRET=easyflow_dev_secret
JWT_EXPIRES_IN=8h
